<div class="container-fluid min-vh-100">
    <div class="row">
        <div class="col-12 h-100 mb-3">
            <div class="d-flex justify-content-between align-items-center bg-white p-3">
                <h5 class="fw-bold text-muted">Ứng viên đã lưu</h5>
                <div>
                    <select class="form-select" name="" id="">
                        <option value="">Tất cả</option>
                        <option value="">Vị trí ứng tuyển</option>
                        <option value="">Học vấn</option>
                        <option value="">Kỹ năng</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="bg-white p-3 rounded-2">
                <div class="d-flex align-items-start justify-content-start gap-3">
                    <img class="align-self-start rounded-3 flex-shrink-0" src="~/img/about-1.jpg" alt=""
                        style="width: 100; height: 100px;">
                    <div class="d-flex flex-column">
                        <p class="mb-1 fw-bold">Huỳnh Chí Dũng</>
                        </p>
                        <span class="text-danger fw-bolder fs-5">Web Developer</span>
                        <p>"Cung cấp thông tin chi tiết giúp chúng tôi dễ dàng tìm kiếm những công việc phù hợp với
                            bạn."
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex gap-4">
                        <div class="flex-grow-1 d-flex flex-column">
                            <span class="fw-bold">Kỹ năng</span>
                            <p class="d-flex gap-3">
                                <span>C#</span>
                                <span>.NET</span>
                                <span>SQL</span>
                            </p>
                            <span class="fw-bold">Chứng chỉ</span>
                            <p class="d-flex flex-column ps-3 gap-1">
                                <span>English - B1</span>
                            </p>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column">
                            <span class="fw-bold">Học vấn</span>
                            <span class="fst-italic" style="font-size: .8rem;">08/2023 - 10/2023</span>
                            <span class="">Đại học Cần Thơ</span>
                            <span class="fst-italic">GPA 3.65</span>
                        </div>
                    </div>
                    <span class="fw-bold">Thông tin liên lạc</span>
                    <div class="d-flex gap-3 mb-2">
                        <p class="mb-1 fst-italic">
                            Điện thoại: 0776573853
                        </p>
                        <p class="mb-1 fst-italic">
                            Email: dung@gmail.com
                        </p>
                    </div>
                    <div class="position-relative">
                        <div class="d-flex justify-content-between">
                            <button class="fw-bold btn btn-info text-white" data-bs-toggle="collapse"
                                data-bs-target="#work-experience" aria-expanded="false"
                                aria-controls="work-experience">Kinh
                                nghiệm làm việc</button>
                            <a class="fw-bold btn btn-info text-white">Xem CV</a>
                            <a class="fw-bold btn btn-danger text-white">Bỏ lưu</a>
                        </div>
                        <div id="work-experience" class="collapse position-absolute rounded-3 bg-white">
                            <div class="d-flex gap-2 flex-nowrap">
                                <div class="flex-grow-1 d-flex flex-column border rounded-2 p-2">
                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 - 10/2023</span>
                                    <h5 class="fw-bold" style="color: #555;">FPT Software</h5>
                                    <p>Vị trí<span class="ms-2 text-danger fw-bold">Web Developer</span></p>
                                    <span class="fw-bold">Công nghệ sử dụng</span>
                                    <p class="d-flex gap-3">
                                        <span>C#</span>
                                        <span>.NET</span>
                                        <span>SQL</span>
                                    </p>
                                    <p>
                                        "Cung cấp thông tin chi tiết giúp chúng tôi dễ dàng tìm kiếm những công việc phù
                                        hợp
                                        với
                                        bạn."
                                    </p>
                                    <div class="align-self-stretch position-relative">
                                        <button class="btn btn-info text-white" data-bs-toggle="collapse"
                                            data-bs-target="#work-experience-project-collapse" aria-expanded="false"
                                            aria-controls="work-experience-project-collapse">
                                            Dự án tham gia
                                        </button>
                                        <div id="work-experience-project-collapse"
                                            class="collapse position-absolute bg-white p-3 top-50 start-100 translate-middle">
                                            <div class="e d-flex gap-3">
                                                <div class="d-flex flex-column rounded gap-2 p-2"
                                                    style="background-color: #fcfbfb;">
                                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 -
                                                        10/2023</span>
                                                    <span class="fw-bold">Online Job Portal</span>
                                                    <span>Vai trò: Web Developer</span>
                                                </div>
                                                <div class="d-flex flex-column rounded gap-2 p-2"
                                                    style="background-color: #fcfbfb;">
                                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 -
                                                        10/2023</span>
                                                    <span class="fw-bold">Online Job Portal</span>
                                                    <span>Vai trò: Web Developer</span>
                                                </div>
                                                <div class="d-flex flex-column rounded gap-2 p-2"
                                                    style="background-color: #fcfbfb;">
                                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 -
                                                        10/2023</span>
                                                    <span class="fw-bold">Online Job Portal</span>
                                                    <span>Vai trò: Web Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1 d-flex flex-column border rounded-2 p-2">
                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 - 10/2023</span>
                                    <h5 class="fw-bold" style="color: #555;">FPT Software</h5>
                                    <p>Vị trí<span class="ms-2 text-danger fw-bold">Web Developer</span></p>
                                    <span class="fw-bold">Công nghệ sử dụng</span>
                                    <p class="d-flex gap-3">
                                        <span>C#</span>
                                        <span>.NET</span>
                                        <span>SQL</span>
                                    </p>
                                    <p>
                                        "Cung cấp thông tin chi tiết giúp chúng tôi dễ dàng tìm kiếm những công việc phù
                                        hợp
                                        với
                                        bạn."
                                    </p>
                                    <div class="align-self-stretch position-relative">
                                        <button class="btn btn-info text-white" data-bs-toggle="collapse"
                                            data-bs-target="#work-experience-project-collapse" aria-expanded="false"
                                            aria-controls="work-experience-project-collapse">
                                            Dự án tham gia
                                        </button>
                                        <div id="work-experience-project-collapse"
                                            class="collapse position-absolute bg-white p-3 top-50 start-100 translate-middle">
                                            <div class="d-flex gap-3">
                                                <div class="d-flex flex-column rounded gap-2 p-2"
                                                    style="background-color: #fcfbfb;">
                                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 -
                                                        10/2023</span>
                                                    <span class="fw-bold">Online Job Portal</span>
                                                    <span>Vai trò: Web Developer</span>
                                                </div>
                                                <div class="d-flex flex-column rounded gap-2 p-2"
                                                    style="background-color: #fcfbfb;">
                                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 -
                                                        10/2023</span>
                                                    <span class="fw-bold">Online Job Portal</span>
                                                    <span>Vai trò: Web Developer</span>
                                                </div>
                                                <div class="d-flex flex-column rounded gap-2 p-2"
                                                    style="background-color: #fcfbfb;">
                                                    <span class="fst-italic" style="font-size: .8rem;">08/2023 -
                                                        10/2023</span>
                                                    <span class="fw-bold">Online Job Portal</span>
                                                    <span>Vai trò: Web Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>