<link href="~/area/assets/plugins/chosen/chosen.min.css" rel="stylesheet">

<!-- Header End -->
<div class="container-fluid py-5 bg-dark page-header mb-3">
    <div class="container my-5 pt-5 pb-4">
        <h2 class="display-3 text-white mb-3 animated slideInDown text-uppercase">Tìm kiếm việc làm</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Tìm kiếm việc làm</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<div class="container-fluid py-0">
    <div class="container">
        <!-- Category Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <h1 class="text-center mb-3 wow fadeInUp" data-wow-delay="0.1s">Khám phá theo danh mục</h1>
                <div class="d-flex justify-content-center align-items-center"></div>
                <div class="row g-4 mb-4 job-type-list"></div>
                <div class="d-flex justify-content-center wow fadeInUp" data-wow-delay=".3s">
                    <a role="button" class="btn btn-primary py-3 px-5 btn-see-more" data-area-type="jobType">Xem
                        thêm</a>
                </div>
            </div>
        </div>
        <!-- Category End -->
        <h1 class="text-center mb-3 wow fadeInUp" data-wow-delay="0.1s">Danh sách việc làm</h1>
        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-3 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <input type="text" class="form-control border-0" placeholder="Tìm theo từ khóa"
                                    id="search-job" />
                            </div>
                            <div class="col-md-3">
                                <select class="form-select border-0" id="exp-selector">
                                    <option style="display:none" value="">Kinh nghiệm</option>
                                    <option value="7">Tất cả</option>
                                    <option value="1">Intern</option>
                                    <option value="2">Fresher</option>
                                    <option value="3">Junior</option>
                                    <option value="4">Middle</option>
                                    <option value="5">Senior</option>
                                    <option value="6">Expert</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select ls_province" style="height: 36px;"></select>
                                <select class="form-select ls_district" hidden></select>
                                <select class="form-select ls_ward" hidden></select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select border-0" id="salary-selector">
                                    <option style="display:none"><i class="fa-regular fa-star"></i>Mức lương</option>
                                    <option value="0">Tất cả</option>
                                    <option value="1">Dưới 10 triệu</option>
                                    <option value="2">10 - 15 triệu</option>
                                    <option value="3">15 - 20 triệu</option>
                                    <option value="4">20 - 25 triệu</option>
                                    <option value="5">Trên 25 triệu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100" id="btn-find">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End -->
        <!-- Jobs Start -->
        <div class="container-fluid py-3">
            <div class="container">
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-between max-vh-100  border-bottom mb-4">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active filter-btn"
                                data-sort="all" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Tất cả</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3 filter-btn" data-sort="fulltime"
                                data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Full Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 filter-btn"
                                data-sort="parttime" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Part Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 filter-btn" data-sort="remote"
                                data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Remote</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 filter-btn"
                                data-sort="freelancer" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Freelancer</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active"> 
                            <div class="d-flex justify-content-between align-items-baseline">
                                <div class="text-start">
                                    Có <span class="text-primary fw-bold total-job"></span> công việc <span class="d-none d-lg-inline-block">phù hợp</span>
                                </div>
                                <div class="text-nowrap paging-partial-container"></div>
                            </div>              
                            <div class="job-post-list min-vh-100" ></div>   
                            <div class="d-flex justify-content-between align-items-baseline">
                                <div class="text-start">
                                    Có <span class="text-primary fw-bold total-job"></span> công việc <span class="d-none d-lg-inline-block">phù hợp</span>
                                </div>
                                <div class="text-nowrap paging-partial-container"></div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="apply-job-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header shadow-sm">
                <h5 class="modal-title" id="staticBackdropLabel">Ứng tuyển <span id="job-post-title"
                        class="text-primary"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body shadow-sm">
                <div class="d-flex flex-column gap-3">
                    <div class="fw-bold"><i class="fa-regular fa-folder-open text-primary me-2"></i> Chọn CV ứng tuyển:
                    </div>
                    <div role="button" class="border rounded-3 p-2">
                        <input id="cv-it-jobs" class="form-check-input" type="radio" name="radio-cv" value="0" checked>
                        <label class="ms-3">
                            Sử dụng CV online của IT Jobs
                        </label>
                    </div>
                    <div class="border rounded-3 p-2">
                        <div class="d-flex">
                            <input id="others-cv" class="form-check-input" type="radio" value="1" name="radio-cv">
                            <label role="button" class="ms-3">
                                Tải CV từ máy tính
                            </label>
                        </div>
                        <div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div><i class="fa-solid fa-5x fa-cloud-arrow-up text-primary"></i></div>
                                <p>Hỗ trợ định dạng .doc, .docx, pdf có kích thước dưới 5MB</p>
                                <div>
                                    <input class="form-control" id="upload-cv" type="file" accept=".pdf, .doc, .docx"
                                        style="background-color: #fff !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fw-bold"><i class="fa-solid fa-feather text-primary me-2"></i>Thư giới thiệu</div>
                    <textarea class="form-control rounded-3" id="cover-letter" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-cancel" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save">Ứng tuyển</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/area/assets/plugins/vietnamlocal/vietnamlocalselector.min.js"></script>
    <script src="~/js/FindJobPage/findjob.js"></script>
}