@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tạo CV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/ResumePage/main.css">
    <style>
        .glow {
            text-shadow: 0 0 2px, 0 0 3px;
        }

        .text-success {
            --bs-text-opacity: 1;
            color: #198754 !important;
        }

        .fs-30 {
            font-size: 30px;
        }
    </style>
</head>

<body>
    <header class="container-fluid">
        <nav class="navbar navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand py-3 d-flex align-items-center justify-content-center" href="#">
                    <img class="navbar-brand-icon d-block" src="~/img/curriculum-vitae.png" alt="">
                    <h1 class="glow fw-6 fs-30 d-none d-lg-block" style="color: #010101"><span class="text-success">IT</span>Jobs CV
                        Builders</h1>
                </a>
            </div>
        </nav>
    </header>

    <section id="about-sc" class="">
        <div class="container">
            <div class="about-cnt">
                <form action="" class="cv-form" id="cv-form">
                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Giới thiệu</h3>
                        </div>
                        <div class="cv-form-row cv-form-row-about">
                            <div class="cols-3">
                                <div class="form-elem">
                                    <label for="" class="form-label">Họ</label>
                                    <input name="firstname" type="text" class="form-control firstname" id=""
                                        onkeyup="generateCV()" placeholder="Vd. Nguyễn">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="" class="form-label">
                                        Tên đệm <span class="opt-text">(tùy chọn)</span>
                                    </label>
                                    <input name="middlename" type="text" class="form-control middlename" id=""
                                        onkeyup="generateCV()" placeholder="Vd. Văn">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="" class="form-label">Tên</label>
                                    <input name="lastname" type="text" class="form-control lastname" id=""
                                        onkeyup="generateCV()" placeholder="Vd. An">
                                    <span class="form-text"></span>
                                </div>
                            </div>

                            <div class="cols-3">
                                <div class="form-elem">
                                    <label for="" class="form-label">Ảnh đại diện</label>
                                    <input name="image" type="file" class="form-control image" id="" accept="image/*"
                                        onchange="previewImage()">
                                </div>
                                <div class="form-elem">
                                    <label for="" class="form-label">Vị trí ứng tuyển</label>
                                    <input name="designation" type="text" class="form-control designation" id=""
                                        onkeyup="generateCV()" placeholder="Vd. Web Developer">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="" class="form-label">Địa chỉ</label>
                                    <input name="address" type="text" class="form-control address" id=""
                                        onkeyup="generateCV()"
                                        placeholder="Vd. phường Xuân Khánh, quận Ninh Kiều, TP Cần Thơ">
                                    <span class="form-text"></span>
                                </div>
                            </div>

                            <div class="cols-3">
                                <div class="form-elem">
                                    <label for="" class="form-label">Địa chỉ email</label>
                                    <input name="email" type="text" class="form-control email" id=""
                                        onkeyup="generateCV()" placeholder="Vd. nvan@gmail.com">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="" class="form-label">Số điện thoại</label>
                                    <input name="phoneno" type="text" class="form-control phoneno" id=""
                                        onkeyup="generateCV()" placeholder="Vd. 0776573853">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="" class="form-label">Giới thiệu tóm tắt</label>
                                    <input name="summary" type="text" class="form-control summary" id=""
                                        onkeyup="generateCV()" placeholder="Vd. Giới thiệu tóm tắt">
                                    <span class="form-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Chứng chỉ</h3>
                        </div>

                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-a">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-achievement">
                                        <div class="cols-2">
                                            <div class="form-elem">
                                                <label for="" class="form-label">Tiêu đề</label>
                                                <input name="achieve_title" type="text"
                                                    class="form-control achieve_title" id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Anh Văn 2018-2019">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input name="achieve_description" type="text"
                                                    class="form-control achieve_description" id=""
                                                    onkeyup="generateCV()" placeholder="Vd. Chứng chỉ anh văn B1">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create value="Add" class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Kinh nghiệm làm việc</h3>
                        </div>

                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-b">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-experience">
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="" class="form-label">Tiêu đề</label>
                                                <input name="exp_title" type="text" class="form-control exp_title" id=""
                                                    onkeyup="generateCV()" placeholder="Vd. Thực tập sinh">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Công ty/Tổ chức</label>
                                                <input name="exp_organization" type="text"
                                                    class="form-control exp_organization" id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Trung tâm công nghệ phần mềm">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Địa chỉ</label>
                                                <input name="exp_location" type="text" class="form-control exp_location"
                                                    id="" onkeyup="generateCV()" placeholder="Vd. Ninh Kiều, Cần Thơ">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>

                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="" class="form-label">Bắt đầu</label>
                                                <input name="exp_start_date" type="date"
                                                    class="form-control exp_start_date" id="" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Kết thúc</label>
                                                <input name="exp_end_date" type="date" class="form-control exp_end_date"
                                                    id="" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input name="exp_description" type="text"
                                                    class="form-control exp_description" id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Thực tập sinh...">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>

                                        <button data-repeater-delete type="button" class="repeater-remove-btn">
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create value="Add" class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Học Vấn</h3>
                        </div>

                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-c">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-experience">
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="" class="form-label">Trường</label>
                                                <input name="edu_school" type="text" class="form-control edu_school"
                                                    id="" onkeyup="generateCV()" placeholder="Vd. Đại học Cần Thơ">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Bằng cấp</label>
                                                <input name="edu_degree" type="text" class="form-control edu_degree"
                                                    id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Kỹ sư công nghệ phần mềm">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Thành phố</label>
                                                <input name="edu_city" type="text" class="form-control edu_city" id=""
                                                    onkeyup="generateCV()" placeholder="Vd. Cần Thơ">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>

                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="" class="form-label">Bắt đầu</label>
                                                <input name="edu_start_date" type="date"
                                                    class="form-control edu_start_date" id="" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Kết thúc</label>
                                                <input name="edu_graduation_date" type="date"
                                                    class="form-control edu_graduation_date" id=""
                                                    onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input name="edu_description" type="text"
                                                    class="form-control edu_description" id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Tốt nghiệp loại Xuất sắc, điểm trung bình 3.65">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>

                                        <button data-repeater-delete type="button" class="repeater-remove-btn">
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create value="Add" class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Dự án</h3>
                        </div>

                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-d">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-experience">
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="" class="form-label">Tên dự án</label>
                                                <input name="proj_title" type="text" class="form-control proj_title"
                                                    id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Website thương mại điện tử">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Link Github</label>
                                                <input name="proj_link" type="text" class="form-control proj_link" id=""
                                                    onkeyup="generateCV()" placeholder="Vd. https://github.com/">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input name="proj_description" type="text"
                                                    class="form-control proj_description" id="" onkeyup="generateCV()"
                                                    placeholder="Vd. Phân tích hệ thống,...">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create value="Add" class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Kỹ năng</h3>
                        </div>

                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-e">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-skills">
                                        <div class="form-elem">
                                            <label for="" class="form-label">Kỹ năng</label>
                                            <input name="skill" type="text" class="form-control skill" id=""
                                                onkeyup="generateCV()" placeholder="Vd. Thành thạo tin học văn phòng">
                                            <span class="form-text"></span>
                                        </div>

                                        <button data-repeater-delete type="button" class="repeater-remove-btn">
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create value="Add" class="repeater-add-btn">+</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="preview-sc" class="print_area">
        <div class="container">
            <div class="preview-cnt" style="min-height: 100vh;">
                <div class="preview-cnt-l bg-green text-white">
                    <div class="preview-blk">
                        <div class="preview-image">
                            <img src="" alt="" id="image_dsp">
                        </div>
                        <div class="preview-item preview-item-name">
                            <span class="preview-item-val fw-6" id="fullname_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <span class="preview-item-val text-uppercase fw-6 ls-1" id="designation_dsp"></span>
                        </div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Giới thiệu</h3>
                        </div>
                        <div class="preview-blk-list">
                            <div class="preview-item">
                                <span class="preview-item-val" id="phoneno_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="email_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="address_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="summary_dsp"></span>
                            </div>
                        </div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Kỹ năng</h3>
                        </div>
                        <div class="skills-items preview-blk-list" id="skills_dsp">
                            <!-- skills list here -->
                        </div>
                    </div>
                </div>

                <div class="preview-cnt-r bg-white">
                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Chứng chỉ</h3>
                        </div>
                        <div class="achievements-items preview-blk-list" id="achievements_dsp"></div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Học vấn</h3>
                        </div>
                        <div class="educations-items preview-blk-list" id="educations_dsp"></div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Kinh nghiệm làm việc</h3>
                        </div>
                        <div class="experiences-items preview-blk-list" id="experiences_dsp"></div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Dự án</h3>
                        </div>
                        <div class="projects-items preview-blk-list" id="projects_dsp"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <form id="form-download-cv" method="post" asp-controller="Resume" asp-action="UploadCV">
        <textarea name="htmlContent" style="display: none;"></textarea>
        <section class="print-btn-sc">
            <div class="container">
                <button type="button" class="print-btn btn btn-primary" onclick="printCV()">Print CV</button>
                <button id="btn-download-cv" type="submit" class="btn btn-primary">Download CV</button>
            </div>
        </section>
    </form>


    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!-- jquery repeater cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.js"
        integrity="sha512-bZAXvpVfp1+9AUHQzekEZaXclsgSlAeEnMJ6LfFAvjqYUVZfcuVXeQoN5LhD7Uw0Jy4NCY9q3kbdEXbwhZUmUQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom js -->
    <script src="~/js/ResumePage/script.js"></script>
    <!-- app js -->
    <script src="~/js/ResumePage/app.js"></script>
    <script>
        $(document).ready(function () {
            $('#form-download-cv').submit(function () {
                var htmlContent = $('#preview-sc .container').html();
                $('textarea[name="htmlContent"]').val(htmlContent);
            });
        });
    </script>
</body>

</html>