@{
    Layout = null;
}
@using OnlineJobPortal.Application.Interfaces
@inject ICurrentUserService CurrentUserService

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ResumePage/resume.css">

    <title>CV Builder</title>
</head>

<body>
    <header class="container-fluid">
        <nav class="navbar navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand py-3 d-flex align-items-center justify-content-center" href="#">
                    <img class="navbar-brand-icon d-block" src="~/img/curriculum-vitae.png" alt="">
                    <h1 class="glow fw-7 fs-30 d-none d-lg-block"><span class="text-success">IT</span>Jobs CV
                        Builders</h1>
                </a>
                @* <div class="dropdown">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <button class="d-flex align-items-center dropdown-toggle bg-green-light ps-1 pe-4 py-2 rounded-pill"
                                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/img/default_user.png" alt="" class="navbar-brand-icon">
                                <div class="fw-7 fs-18 d-none d-lg-block">@CurrentUserService.GetFullNameById()</div>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end my-2" aria-labelledby="dropdownMenuButton1" style="min-width: 100%">
                                <li><a class="dropdown-item fs-14 ps-4 py-2" href="#">Cập nhật hồ sơ</a></li>
                                <li><a class="dropdown-item fs-14 ps-4 py-2" href="#">Đổi mật khẩu</a></li>
                                <hr class="dropdown-divide">
                                <li><a class="dropdown-item fs-14 ps-4 py-2" href="#">Đăng xuất</a></li>
                            </ul>
                        }
                    }

                </div> *@
            </div>
        </nav>
    </header>
    <main class="container-fluild bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="col-lg-8 text-center fw-7 fs-lg text-dark py-5">Một hồ sơ ấn tượng có thể gia tăng tỉ lệ thành công của bạn. Hãy nắm bắt cơ hội đó</h1>
                <div class="col-lg-8">
                    <p class="fs-18 fw-5 text-center text-dark">Sử dụng các mẫu sơ yếu lý lịch đã được kiểm tra chuyên nghiệp tuân theo 'quy tắc sơ yếu lý lịch' chính xác mà nhà tuyển dụng tìm kiếm. Dễ sử dụng và thực hiện trong vòng vài phút - hãy thử ngay bây giờ!</p>
                </div>
                <div class="col-lg-8 d-flex justify-content-center p-5">
                    <a role="button" asp-area="" asp-controller="Resume" asp-action="CreateResume" target="_blank"
                        class="btn btn-primary btn-shadow text-uppercase ls-2 fw-6 fs-15 py-4 px-5 rounded-pill">Tạo CV Mới</a>
                </div>
                <div class="col-lg-10 d-flex justify-content-center py-4">
                    <img src="~/img/dublin-resume-templates.jpg" alt="" class="w-100 h-100">
                </div>
            </div>
        </div>
    </main>

    <footer class="container-fluild bg-light py-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <img src="~/img/feature-1-edf4481d69166ac81917d1e40e6597c8d61aa970ad44367ce78049bf830fbda5.svg"
                                alt="">
                        </div>
                        <div>
                            <h5 class="fs-20 fw-7 text-blue-dark font-poppins">Tạo một CV để thắng cuộc phỏng vấn!</h5>
                            <p class="text text-left fw-5 ls-1 font-manrope">Sử dụng công cụ tạo CV của chúng tôi cùng với các công cụ tạo nâng cao để kể câu chuyện chuyên nghiệp thu hút nhà tuyển dụng, người quản lý tuyển dụng và thậm chí cả CEO.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <img src="~/img/feature-2-a7a471bd973c02a55d1b3f8aff578cd3c9a4c5ac4fc74423d94ecc04aef3492b.svg"
                                alt="">
                        </div>
                        <div>
                            <h5 class="fs-20 fw-7 text-blue-dark font-poppins">Viết CV - quá dễ dàng</h5>
                            <p class="text text-left fw-5 ls-1 font-manrope">Viết CV chưa bao giờ dễ dàng đến thế. Văn bản được tạo trước, thiết kế trực quan và hơn thế nữa - tất cả đều đã được tích hợp vào trình tạo sơ yếu lý lịch. Chỉ cần điền thông tin chi tiết của bạn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <img src="~/img/feature-3-4e87a82f83e260488c36f8105e26f439fdc3ee5009372bb5e12d9421f32eabdd.svg"
                                alt="">
                        </div>
                        <div>
                            <h5 class="fs-20 fw-7 text-blue-dark font-poppins">Công cụ tạo CV đã được nhà tuyển dụng thử nghiệm</h5>
                            <p class="text text-left fw-5 ls-1 font-manrope">Trình tạo CV của chúng tôi và nội dung được tạo trước của nó đã được các nhà tuyển dụng và chuyên gia CNTT kiểm tra. Chúng tôi giúp CV của bạn thực sự có tính cạnh tranh trong quá trình tuyển dụng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>