<link rel="stylesheet" href="~/area/assets/plugins/bootstrap/css/bootstrap-icons.min.css">
<link rel="stylesheet" href="~/css/ChatPage/chat.css">

<style>
    ul li {
        width: 100%;
    }

    ul li.d-flex {
        width: 80%;
    }
</style>

<div class="row bg-white rounded-3">
    <div class="col-4 max-vh-100 border-end position-relative">
        <div class="d-flex flex-column overflow-auto p-3 gap-3">
            <div class="d-flex justify-content-between align-items-baseline">
                <h5 class="d-sm-block d-none">Chat</h5>
                <a role="button" class="btn btn-square rounded-pill fs-5" style="background-color: #e4e6ed;"
                    data-bs-toggle="collapse" data-bs-target="#find-recipient" aria-expanded="false"
                    aria-controls="find-recipient">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <div class="collapse position-absolute start-100" id="find-recipient">
                    <div class="d-flex flex-column p-3 shadow-sm border-3 rounded-3"
                        style="width: 300px; height: 300px; background-color: #fafafa;">
                        <div class="d-flex align-items-baseline gap-3">
                            <label class="form-label">Đến:</label>
                            <input type="text" class="form-control rounded-pill ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative">
                <input class="form-control rounded-pill ps-5" type="text" id="search-recipient"
                    style="background-color: #e4e6ed;" placeholder="Tìm kiếm người dùng">
                <span class="position-absolute top-50 translate-middle" style="left: 1.5rem">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
            <div class="d-flex flex-column gap-2" id="recipient-container"></div>
        </div>
    </div>
    <div class="col-8">
        <div id="chat-section" class="collapse">
            <ul class="list-group list-group-horizontal-xxl overflow-auto my-3 d-flex justify-content-end gap-3"
                id="messageList" style="height: 75vh;">
            </ul>
            <div class="d-flex align-items-center gap-3 p-1">
                <span class="fs-5"><i class="fa-solid fa-circle-plus text-info"></i></span>
                <span class="fs-5"><i class="fa-regular fa-image text-info"></i></span>
                <span class="fs-5"><i class="fa-solid fa-face-smile text-info"></i></span>
                <span class="fs-5"><i class="bi bi-filetype-gif text-info"></i></span>
                <div class="position-relative w-100 bottom-0">
                    <input type="text" class="form-control rounded-pill" placeholder="Aa" id="messageInput"
                        autocomplete="off">
                    <a role="button" class="position-absolute top-50 translate-middle-y" style="right: 15px;">
                        <i class="bi bi-send-fill text-info"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const recipientsContainer = $("#recipient-container");
        const searchRecipient = $("#search-recipient");

        $(document).on('click', ".recipient", function (e) {
            $(".recipient").removeClass("active");
            let recipient = $(this);
            recipient.addClass("active");
            let userId = $(this).data("user-id");
        });

        function loadRecipient() {
            $.ajax({
                type: "Get",
                dataType: "json",
                url: "/Employer/Notification/GetAllAppliedCandidates",
                success: function (res) {
                    if (res != null && res.length > 0) {
                        for (let i = 0; i < res.length; i++) {
                            renderRecipientContainer(res[i]);
                        }
                    } else {
                        renderNoResult()
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function renderRecipientContainer(data) {
            let avatarUrl = data.candidate.avatarUrl != null ? '../.' + data.candidate.avatarUrl : "../../img/default_user.png";
            let recipientHtml = `
            <div>
                <a class="d-flex flex-column py-1 px-2 rounded-3 recipient" data-user-id="${data.candidate.userId}" data-bs-toggle="collapse" href="#chat-section" role="button" aria-expanded="false" aria-controls="chat-section">
                    <div class="d-flex align-items-center gap-3">
                        <img class="rounded-pill" src="${avatarUrl}" alt="" style="width: 55px; height: 55px;">
                        <div class="flex-grow-1 d-sm-flex flex-column d-none">
                            <span class="fw-bold employer-name">${data.candidate.fullName}</span>
                            <span style="font-size: .9rem; color: #888">${'Ứng tuyển ' + data.jobPost.title}</span>
                        </div>
                        <span class="text-danger mark-new-message" style="display: none; font-size: 0.7rem;"><i class="fa-solid fa-circle"></i></span>
                    </div>
                </a>
            </div>`;
            recipientsContainer.append(recipientHtml)
        }

        function renderNoResult() {
            let imgHtml = `
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../img/no-result-found.jpg" alt="" style="width: 200px" />
                <span class="fw-bold m-1">Bạn chưa ứng tuyển công việc nào</span>
            </div>
                `;
            recipientsContainer.html(imgHtml);
        }

        $(document).ready(function () {
            loadRecipient();

        });
        $(document).on("input", "#search-recipient", function () {
            let value = $(this).val().toLowerCase();
            $(".recipient").each(function () {
                let item = $(this).closest("div");
                let employerName = item.find(".employer-name").text().toLowerCase();
                if (employerName.includes(value)) {
                    item.show();
                } else {
                    item.hide();
                }
            });
        });
    </script>

    <!--SignalR-->
    <script src="~/area/assets/plugins/signalr/signalr.min.js"></script>
    <script>
        const messageList = $("#messageList");
        var recipientId = 0;


        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            console.log("SignalR Connected.");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("ReceiveMessage", function (user, message) {
            if (messageList.data("connect-with-data-id") == user) {
                console.log(user, messageList.data("connect-with-data-id"));
            }
            @* let userId = user.result.userId;
            $(`.recipient[data-user-id="${userId}"]`).first().find(".mark-new-message").show()
            console.log(userId, user); *@
            renderMessageFromRecipient(user, message);
            scrollToBottom();
        });


        function sendMessageToUser() {
            var toUser = recipientId;
            var message = $("#messageInput").val();

            if (message == null || message == "") return;

            connection.invoke("SendMessageToUser", toUser, message).catch(function (err) {
                return console.error(err.toString());
            });

            renderMessageFromSender(message);
            scrollToBottom();

            $("#messageInput").val("");
        }

        function renderMessageFromSender(message) {
            var lastUser = messageList.find("li").last();
            if (lastUser.hasClass("sender-message")) {
                var createNewMessageHtml = `<p>${message}</p>`;
                let lastArea = $(".sender-message .content-container").last();
                lastArea.append(createNewMessageHtml);
            } else {
                var createNewSenderMessageHtml =`
                <li class="d-flex gap-2 ms-auto justify-content-end sender-message">
                    <div class="d-flex flex-column align-items-end content-container">
                        <p>
                            ${message}
                        </p>
                    </div>
                </li>`;
                messageList.append(createNewSenderMessageHtml);
            }
        }

        function renderMessageFromRecipient(user, message) {
            var lastUser = messageList.find("li").last();
            if (lastUser.hasClass("recipient-message")) {
                var createNewMessageHtml = `<p>${message}</p>`;
                let lastArea = $(".recipient-message .content-container").last();
                lastArea.append(createNewMessageHtml);
            } else {
                var createNewRecipientMessageHtml =`
                <li class="d-flex gap-2 recipient-message">
                    <img class="btn-square rounded-pill" src="${user.result.avatarUrl != null ?'.' + user.result.avatarUrl : '../../img/default_user.png'}" alt="">
                    <div class="d-flex flex-column align-items-start content-container">
                        <p>${message}</p>
                    </div>
                </li>`;
                messageList.append(createNewRecipientMessageHtml);
            }
        }

        function scrollToBottom() {
            let container = $('#messageList');
            container.scrollTop(container[0].scrollHeight);
        }

        $(document).ready(function () {
            scrollToBottom();

            $('#messageInput').on('keydown', function (event) {
                if (event.keyCode === 13) {
                    sendMessageToUser();
                    event.preventDefault();
                }
            });

            $(document).on("click", ".recipient", function () {
                recipientId = $(this).data("user-id");
                messageList.data("connect-with-user-id", recipientId);
            });
        });
    </script>
}