<!-- Views/Home/Index.cshtml -->

<div>
    <input type="text" id="toUserInput" placeholder="To User" />
    <input type="text" id="messageInput" placeholder="Message" />
    <button onclick="sendMessageToUser()">Send</button>
</div>

<ul id="messagesList"></ul>

@section scripts {
    <script src="~/area/assets/plugins/signalr/signalr.min.js"></script>
    <script>
        function sendMessageToUser() {
            var toUser = $("#toUserInput").val(); // Người nhận
            var message = $("#messageInput").val();

            notificationConnection.invoke("SendToGroup", "JobPost", "1", message).catch(function (err) {
                return console.error(err.toString());
            });

            $("#messageInput").val("");
        }

        $(document).ready(function () {
            notificationConnection.invoke('JoinGroup', 'JobPost', `1`);
        });
    </script>
}
