<!-- Views/Home/Index.cshtml -->

<div>
    <input type="text" id="toUserInput" placeholder="To User" />
    <input type="text" id="messageInput" placeholder="Message" />
    <button onclick="sendMessageToUser()">Send</button>
</div>

<ul id="messagesList"></ul>

@section scripts {
    <script src="~/area/assets/plugins/signalr/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            console.log("SignalR Connected.");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("ReceiveMessage", function (user, message) {
            var encodedUser = $("<div />").text(user).html();
            var encodedMsg = $("<div />").text(message).html();
            $("#messagesList").append("<li><strong>" + encodedUser + "</strong>: " + encodedMsg + "</li>");
        });

        function sendMessageToUser() {
            var toUser = $("#toUserInput").val(); // Người nhận
            var message = $("#messageInput").val();

            connection.invoke("SendMessageToUser", toUser, message).catch(function (err) {
                return console.error(err.toString());
            });

            $("#messageInput").val("");
        }
    </script>
}
