@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/CompanyPage/company.css" rel="stylesheet" />

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div class="company-cover rounded position-relative">
                <img class="w-100 rounded-top"
                    src="https://static.topcv.vn/v4/image/normal-company/cover/company_cover_1.jpg" alt="">
                <div class="position-absolute company-cover-logo">
                    <img src="https://cdn-new.topcv.vn/unsafe/140x/filters:format(webp)/https://static.topcv.vn/company_logos/fpt-telecom-595c8c48f0e07_rs.jpg"
                        class="img-responsive rounded-circle" alt="">
                </div>
                <div class="p-3 position-relative company-cover-detail">
                    <h5 class="text-light">FPT Telecome</h5>
                    <div class="row text-light text-start">
                        <div class="col-12 col-sm-12 col-md-3 company-cover-detail-item"><i
                                class="fa-solid fa-globe"></i>
                            <a class="text-light" href="">http://fpttelecom.net.vn</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-2 company-cover-detail-item"><i
                                class="fa-solid fa-users"></i> 42
                            nhân viên</div>
                        <div class="col-12 col-sm-12 col-md-7 company-cover-detail-item"><i
                                class="fa-solid fa-location-dot"></i> Quận 5, TP Hồ Chí Minh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12 col-sm-12 col-md-8">
            <div>
                <div class="company-intro mb-4 rounded">
                    <h2 class="py-2 px-3 company-intro-title text-light rounded-top">Giới thiệu công ty</h2>
                    <div class="bg-light fw-lighter rounded-bottom px-3 py-2 text-mute">
                        <p>
                            FPT Telecom – Công ty thành viên có lợi nhuận lớn nhất, quản lý số thành viên đông đảo
                            nhất
                            trong Tập đoàn FPT. Đồng thời FPT Telecom cũng là đơn vị FPT đạt nhiều giải thưởng Sao
                            Khuê
                            nhất trong 3 năm liền, lọt TOP FAST 500 – Doanh nghiệp tăng trưởng nhanh nhất. Hiện nay,
                            FPT
                            Telecom đang ngày càng lớn mạnh và phát triển không ngừng. Với tiêu chí “Sáng tạo – Tăng
                            trưởng”, chúng tôi đã có mặt tại tại 59 tỉnh, thành trên toàn quốc.
                        </p>
                        <p>
                            Ở FPT Telecom bạn sẽ tìm thấy sức trẻ, lòng nhiệt huyết và tinh thần dám đương đầu với
                            thử
                            thách. Hãy cho chúng tôi thấy được sự cam kết và tiềm năng của bạn để giúp chúng tôi đạt
                            được những mục tiêu chiến lược của công ty, chúng tôi sẽ mở ra cho bạn cơ hội để vươn
                            tới
                            những mục tiêu phát triển sự nghiệp của bản thân bạn!
                        </p>
                    </div>
                </div>
                <div class="company-recruit pb-4">
                    <h2 class="py-2 px-3 company-intro-title text-light col-12 rounded-top">Tuyển dụng</h2>
                    <div class="bg-light fw-lighter rounded-bottom px-3 py-2 text-mute" style="min-height: 50vh;">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="././img/com-logo-5.jpg"
                                        alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Wordpress Developer</h5>
                                        <span class="text-truncate me-3">
                                            <i class="fa fa-map-marker-alt text-primary me-2"></i>Rewa,
                                            INDIA
                                        </span>
                                        <span class="text-truncate me-3">
                                            <i class="far fa-clock text-primary me-2"></i>Full Time
                                        </span>
                                        <span class="text-truncate me-0">
                                            <i class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                            $456
                                        </span>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" href="">
                                            <i class="far fa-heart text-primary"></i>
                                        </a>
                                        <a class="btn btn-primary" href="">Ứng tuyển</a>
                                    </div>
                                    <small class="text-truncate">
                                        <i class="far fa-calendar-alt text-primary me-2"></i>Hạn cuối: 01 Jan,
                                        2045
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="././img/com-logo-5.jpg"
                                        alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Wordpress Developer</h5>
                                        <span class="text-truncate me-3">
                                            <i class="fa fa-map-marker-alt text-primary me-2"></i>Rewa,
                                            INDIA
                                        </span>
                                        <span class="text-truncate me-3">
                                            <i class="far fa-clock text-primary me-2"></i>Full Time
                                        </span>
                                        <span class="text-truncate me-0">
                                            <i class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                            $456
                                        </span>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" href="">
                                            <i class="far fa-heart text-primary"></i>
                                        </a>
                                        <a class="btn btn-primary" href="">Ứng tuyển</a>
                                    </div>
                                    <small class="text-truncate">
                                        <i class="far fa-calendar-alt text-primary me-2"></i>Hạn cuối: 01 Jan,
                                        2045
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="././img/com-logo-5.jpg"
                                        alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Wordpress Developer</h5>
                                        <span class="text-truncate me-3">
                                            <i class="fa fa-map-marker-alt text-primary me-2"></i>Rewa,
                                            INDIA
                                        </span>
                                        <span class="text-truncate me-3">
                                            <i class="far fa-clock text-primary me-2"></i>Full Time
                                        </span>
                                        <span class="text-truncate me-0">
                                            <i class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                            $456
                                        </span>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" href="">
                                            <i class="far fa-heart text-primary"></i>
                                        </a>
                                        <a class="btn btn-primary" href="">Ứng tuyển</a>
                                    </div>
                                    <small class="text-truncate">
                                        <i class="far fa-calendar-alt text-primary me-2"></i>Hạn cuối: 01 Jan,
                                        2045
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 company-contact">
            <div class="bg-light">
                <h2 class="py-2 px-3 company-intro-title text-light col-12 rounded-top">Thông tin liên lạc</h2>
                <div class="fw-lighter rounded-bottom px-3 py-2 text-mute">
                    <p class="text-primary">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="text-dark px-3">Địa chỉ công ty</span>
                    </p>
                    <p>
                        29B-31B-33B, Đường Tân Thuận, Khu chế xuất Tân Thuận, Phường Tân Thuận Đông, Quận 7, Thành
                        phố
                        Hồ Chí Minh
                    </p>
                    <hr class="dropdown-divided">
                </div>
                <div class="fw-lighter rounded-bottom px-3 text-mute pb-4">
                    <p class="text-primary">
                        <i class="fa-solid fa-link"></i>
                        <span class="text-dark px-3">Chia sẻ công việc tới bạn bè</span>
                    </p>
                    <div class="border border-muted rounded py-2 ps-2 pe-5 position-relative">
                        <input id="share-job-link" readonly value="https://www.topcv.vn/cong-ty/fpt-telecom/4362.html"
                            class="fw-lighter text-muted bg-transparent border-0 w-100" style="outline: none;">
                        <button
                            class="position-absolute btn btn-sm btn-outline-none btn-outline-primary top-50 translate-middle-y ms-2"
                            onclick="copyToClipboard()">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        var input = document.getElementById("share-job-link");
        input.select();
        document.execCommand("copy");
    }
</script>