<style>
    .box-img {
        height: 90px;
        width: 90px;
    }
</style>

<!-- Header End -->
<div class="container mt-2 pt-5 pb-4" style="background-image: linear-gradient(to right, #effdfa, #1fc3a8);">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-7 box-search-company">
            <h1 class="title">Tìm kiếm thông tin công ty để <span class="text-primary glow">IT<span
                        class="text-dark">Jobs</span></span> kết nối bạn với những cơ hội việc làm phù hợp nhất</h1>
            <form class="form-search">
                <i class="fa fa-light fa-magnifying-glass"></i>
                <input type="text" placeholder="Nhập tên công ty muốn tìm kiếm..." class="form-control rounded-pill" />
                <button class="btn btn-primary btn-sm rounded-pill btn-search" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="d-none d-sm-block col-12 col-sm-12 col-md-5 align-self-end text-end">
            <img class="align-middle align-bottom" style="width: 190px;"
                src="~/img/img-top.webp" alt="">
        </div>
    </div>
</div>
<!-- Header End -->

<div class="container p-0">
    <div class="container bg-white mb-5 row justify-content-between m-0 p-0 g-0 g-sm-0 g-md-5">
        <div class="col-12 col-sm-12 col-md-9">
            <p>Tìm thấy <span class="text-primary fw-bold" id="totalCompany">256</span> công ty phù hợp với yêu cầu của
                bạn</p>
            <div class="border border-light p-4" id="company-list"></div>
            <div class="d-flex justify-content-center">
                <a role="button" class="btn btn-primary py-3 px-5" id="btn-see-more">Xem thêm</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 align-self-start">
            <div class="text-center border border-light p-3">
                <p class="fw-bolder">Nhà tuyển dụng hàng đầu</p>
                <div class="row justify-content-center gap-3" id="top-company-list"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const btnMore = $('#btn-see-more');
            const companyList = $('#company-list');
            const topCompanyList = $('#top-company-list');

            function fetchData(currentItems, keyword) {
                companyList.empty();
                renderSpinner();
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Company/GetCompanyList",
                    data: { currentItems: currentItems, keyword: keyword },
                    success: function (res) {
                        $('#totalCompany').text(res.items.length);
                        if (res.items !=null && res.items.length > 0) {
                            res.items.forEach(function (item) {
                                item.description = item.description ? item.description.replace(/<\/?p>/g, '') : 'Chưa có thông tin mô tả';
                                renderCompany(item);
                            });
                            if (res.items.length + currentItems % res.totalCount != 0) {
                                btnMore.hide();
                            } else {
                                btnMore.show();
                            }
                        } else {
                            renderEmptyPage();
                            btnMore.hide();
                        }
                        removeSpinner();
                    },
                    error: function (err) {
                        console.log('Không thể kết nối đến Server' + err.errorMessage);
                        removeSpinner();
                    }
                });
            }

            function getLogosOfTopCompanies(){
                topCompanyList.empty();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/Company/GetLogoTopCompany",
                    success: function(res){
                        if (res.items !=null && res.items.length > 0){
                            res.items.forEach(function (item) {
                                renderTopCompany(item);
                            });
                        }
                    },
                    error: function(err){

                    }
                });
            }

            // Fetch data on page load
            fetchData(0, '');
            getLogosOfTopCompanies()

            // Handle form submission
            $('.form-search').submit(function (event) {
                event.preventDefault();
                const keyword = $('.form-search input').val();
                fetchData(0, keyword);
            });

            // Handle "See More" button click
            btnMore.on('click', function (event) {
                const currentItems = $('.job-item').length;
                event.preventDefault();
                const keyword = $('.form-search input').val();
                fetchData(currentItems, keyword);
            });

            $('.form-search input').on('input', function () {
                companyList.empty();
                $('.form-search').trigger('submit');
            });

            function renderCompany(company) {
                const htmlContent = `
                    <div class="job-item p-4 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center gap-3">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="${company.logoUrl}" alt=""
                                        style="width: 80px; height: 80px;">
                                    <div class="align-self-start flex-grow-1">
                                        <p class="d-flex flex-lg-row flex-column align-items-lg-baseline justify-content-lg-between gap-2">
                                            <a class="fs-5 fw-bold text-muted" href="/Company/CompanyDetail/${company.id}" target="_blank">${company.companyName}</a>
                                            <span>Đang có <span class="text-primary">${company.totalJob}</span> tin tuyển dụng</span>
                                        </p>
                                        <p>
                                            <i class="fa-solid fa-location-arrow text-primary me-2"></i>${company.address}
                                        </p>
                                        <p class="overflow-hidden" style="height: 3rem">
                                            <i class="fa-solid fa-circle-info text-primary me-2"></i>
                                            ${company.description}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                companyList.append(htmlContent);
            }

            function renderTopCompany(company){
                const topCompanyHtml = `
                <div class="col-6 box-img py-3 my-3">
                        <a href="/Company/CompanyDetail/${company.id}" target="_blank">
                            <img class="img-responsive"
                                src="${company.logoUrl}"
                                alt="">
                        </a>
                </div>`;
                topCompanyList.append(topCompanyHtml);
            }

            function renderSpinner() {
                const spinner = `
                    <div class="d-flex justify-content-center align-items-center spinner">
                        <div class="spinner-border text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>`;
                companyList.append(spinner);
            }

            function removeSpinner() {
                $('.spinner').remove();
            }

            function renderEmptyPage() {
                const emptyPage = `<div class="d-flex justify-content-center align-items-center">
                    <img src="../img/no-result-found.jpg" alt="" style="max-width: 550px; max-height: 280px;" />
                </div>`;
                companyList.append(emptyPage);
            }
        });
    </script>

}