@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Header End -->
<div class="container p-0 pt-4">
    <div class="container m-0 mb-2 pt-5 pb-4 row align-item-around" style="background-image: linear-gradient(to right, #effdfa, #1fc3a8);">
        <div class="col-12 col-sm-12 col-md-7 box-search-company">
            <h1 class="title">
                Tìm kiếm thông tin công ty để <span class="text-primary glow">
                    IT<span class="text-dark">Jobs</span>
                </span> kết nối bạn với những cơ hội việc làm phù hợp nhất
            </h1>
            <form class="form-search">
                <i class="fa fa-light fa-magnifying-glass"></i>
                <input type="text" placeholder="Nhập tên công ty muốn tìm kiếm..." class="form-control rounded-pill" />
                <button class="btn btn-primary btn-sm rounded-pill btn-search" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="d-none d-sm-block col-12 col-sm-12 col-md-5 align-self-end text-end">
            <img class="align-middle align-bottom" style="width: 190px;"
                src="https://static.topcv.vn/v4/image/company-search/img-top.png?v=1.0.0" alt="">
        </div>
    </div>
</div>
<!-- Header End -->

<div class="container p-0 top-companies">
    <div class="container m-0 bg-white mb-5 row p-0 g-0 g-sm-0 g-md-5 text-center">
        <h3 class="text-uppercase">Danh sách công ty nổi bật</h3>
        <div class="container px-0">
            <div class="row no-gutters justify-content-start">
                <div class="col-12 col-sm-6 col-md-4 pb-4">
                   <a asp-controller="Company" asp-action="CompanyDetail" class="text-muted">
                        <div class="card rounded shadow">
                            <img src="https://static.topcv.vn/top_lists/88919b2888f93566676c3aead9ccad2c-5c3c110131e72.jpg"
                                class="card-img-top rounded" style="max-height: 200px" alt="...">
                            <div class="card-body text-start">
                                <h5 class="card-title">Card 1</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </div>
                   </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-4">
                    <a asp-controller="Company" asp-action="CompanyDetail" class="text-muted">
                        <div class="card rounded shadow">
                            <img src="https://static.topcv.vn/top_lists/ee42f870851bdb21f12e43aa0e58e8c3-5c3c0721000a4.jpg"
                                class="card-img-top rounded" style="max-height: 200px" alt="...">
                            <div class="card-body text-start">
                                <h5 class="card-title">Card 2</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-4">
                    <a asp-controller="Company" asp-action="CompanyDetail" class="text-muted">
                        <div class="card rounded shadow">
                            <img src="https://static.topcv.vn/top_lists/ee42f870851bdb21f12e43aa0e58e8c3-5c3c0721000a4.jpg"
                                class="card-img-top rounded" style="max-height: 200px" alt="...">
                            <div class="card-body text-start">
                                <h5 class="card-title">Card 3</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-4">
                    <a asp-controller="Company" asp-action="CompanyDetail" class="text-muted">
                        <div class="card rounded shadow">
                            <img src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQlO_2ts2YDGtpdafB8JDZzGVfyKlmFCn7paIJmTsKhfbev0I3O-OoMwgHJUDjSTc-KbjZge4_FgB2BUqVblVM"
                                class="card-img-top rounded" style="max-height: 200px" alt="...">
                            <div class="card-body text-start">
                                <h5 class="card-title">Card 4</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-4">
                    <div class="card rounded shadow">
                        <img src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQlO_2ts2YDGtpdafB8JDZzGVfyKlmFCn7paIJmTsKhfbev0I3O-OoMwgHJUDjSTc-KbjZge4_FgB2BUqVblVM"
                            class="card-img-top rounded" style="max-height: 200px" alt="...">
                        <div class="card-body text-start">
                            <h5 class="card-title">Card 5</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-4">
                    <a asp-controller="Company" asp-action="CompanyDetail" class="text-muted">
                        <div class="card rounded shadow">
                            <img src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQlO_2ts2YDGtpdafB8JDZzGVfyKlmFCn7paIJmTsKhfbev0I3O-OoMwgHJUDjSTc-KbjZge4_FgB2BUqVblVM"
                                class="card-img-top rounded" style="max-height: 200px" alt="...">
                            <div class="card-body text-start">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>