@using System.Text.RegularExpressions
@using OnlineJobPortal.Application.Responses
@using OnlineJobPortal.Application.DTOs.CompanyDto
@model PaginatedResult<GetCompanyWithPaginationDto>

<style>
    .card:hover {
        box-shadow: none !important;
    }
</style>
<!-- Header End -->
<div class="container p-0 pt-4">
    <div class="container m-0 mb-2 pt-5 pb-4 row align-item-around"
        style="background-image: linear-gradient(to right, #effdfa, #1fc3a8);">
        <div class="col-12 col-sm-12 col-md-7 box-search-company">
            <h1 class="title">
                Tìm kiếm thông tin công ty để <span class="text-primary glow">
                    IT<span class="text-dark">Jobs</span>
                </span> kết nối bạn với những cơ hội việc làm phù hợp nhất
            </h1>
            <form class="form-search">
                <i class="fa fa-light fa-magnifying-glass"></i>
                <input type="text" placeholder="Nhập tên công ty muốn tìm kiếm..." class="form-control rounded-pill" />
                <button class="btn btn-primary btn-sm rounded-pill btn-search" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="d-none d-sm-block col-12 col-sm-12 col-md-5 align-self-end text-end">
            <img class="align-middle align-bottom" style="width: 190px;"
                src="https://static.topcv.vn/v4/image/company-search/img-top.png?v=1.0.0" alt="">
        </div>
    </div>
</div>
<!-- Header End -->

<div class="container p-0 top-companies">
    <div class="container m-0 bg-white mb-5 row p-0 g-0 g-sm-0 g-md-5 text-center">
        <h3 class="text-uppercase">Danh sách công ty nổi bật</h3>
        <div class="container px-0">
            <div class="row">
                @{
                    if (Model.Items != null && Model.Items.Count > 0)
                    {
                        foreach (var item in Model.Items)
                        {
                            <div class="col-6 col-sm-3 pb-4">
                                <a asp-controller="Company" asp-action="CompanyDetail" asp-route-id="@item.Id" class="text-muted">
                                    <div class="card rounded shadow">
                                        <img src=".@item.LogoUrl" class="card-img-top rounded"
                                            style="height: 150px; object-fit: contain" alt="...">
                                        <div class="card-body text-start">
                                            <h5 class="card-title text-nowrap overflow-hidden">@item.CompanyName</h5>
                                            <p class="card-text overflow-hidden" style="height: 6rem">
                                                @Regex.Replace(item.Description ?? "", @"<p>|</p>", "")</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
            <div class="d-flex justify-content-center mt-2">
                @{
                    var pagingModel = new PagingModel()
                    {
                        currentPage = Model.PageNumber.Value,
                        countPages = Model.TotalPages.Value,
                        generateUrl = (int? page) => Url.Action("TopCompany", "Company", new { area = "", pageNumber = page })
                    };

                }
                <partial name="/Views/Shared/_PagingPartial.cshtml" model="@pagingModel" />
            </div>
        </div>
    </div>
</div>