<!DOCTYPE html>
<html lang="en">

<head>
	<title>ITJobs - Online Job Portal</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="~/img/favicon.png" rel="icon">

	<!-- FontAwesome JS-->
	<link href="~/area/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">

	@* <script defer src="~/area/assets/plugins/fontawesome/js/all.min.js"></script> *@

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="~/area/assets/css/portal.css">

</head>

<body class="app">
	<header class="app-header fixed-top">
		@await Html.PartialAsync("_NavbarPartial")
		@await Html.PartialAsync("_SidebarPanelPartial")
	</header><!--//app-header-->

	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				@RenderBody()
			</div><!--//container-fluid-->
		</div><!--//app-content-->

		<footer class="app-footer">
			<div class="container text-center py-3">
				<div class="copyright">
                    <div class="row">
                        <div class="col-md-8 text-center text-md-start mb-3 mb-md-0">
                            &copy; Huỳnh Chí Dũng B1906640
                        </div>
                        <div class="col-md-4 text-center text-md-end">
                            <div class="footer-menu row justify-content-end row-cols-4">
                                <a href="" class="col text-secondary">Trang chủ</a>
                                <a href="" class="col text-secondary">Cookies</a>
                                <a href="" class="col text-secondary">Help</a>
                                <a href="" class="col text-secondary">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>

			</div>
		</footer><!--//app-footer-->

	</div><!--//app-wrapper-->


	<!-- Javascript -->
	<script src="~/area/assets/plugins/popper.min.js"></script>
	<script src="~/area/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Charts JS -->
	<script src="~/area/assets/plugins/chart.js/chart.min.js"></script>
	<script src="~/area/assets/js/index-charts.js"></script>

	<!-- Page Specific JS -->
	<script src="~/area/assets/js/app.js"></script>
	<script>
		$(document).ready(function(){
            $("input").attr("autocomplete", "off");
		});
	</script>
</body>

</html>
