@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">
                                <span class="text-primary glow">IT<span class="text-dark">Jobs</span></span> gợi ý
                                công việc phù hợp nhất
                            </h1>
                            <p class="fs-3 fw-medium text-white">
                                Kết nối ứng viên và nhà tuyển dụng, là nơi ứng viên có thể kiếm công việc
                                phù hợp nhất với bản thân
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">
                                <span class="text-primary glow">IT<span class="text-dark">Jobs</span></span> gợi ý
                                ứng viên phù hợp với yêu cầu
                            </h1>
                            <p class="fs-3 fw-medium text-white">
                                Là nơi cung cấp nguồn nhân lực dồi
                                dào cho các công ty IT trên cả nước
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container">
        <h1 class="text-center mb-3 wow fadeInUp" data-wow-delay="0.1s">Khám phá theo danh mục</h1>
        <div class="row g-4 mb-4 job-type-list"></div>
        <div class="d-flex justify-content-center wow fadeInUp" data-wow-delay=".2s">
            <a role="button" class="btn btn-primary py-3 px-5 btn-show-more" data-show-more="jobType">Xem thêm</a>
        </div>
    </div>
</div>
<!-- Category End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="~/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="~/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="~/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="~/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="mb-4">Tìm Hiểu Về Cơ Hội Nghề Nghiệp Công Nghệ Thông Tin</h1>
                <p class="mb-4">
                    Nghề nghiệp trong lĩnh vực Công nghệ thông tin không chỉ đánh vào sự sáng tạo mà
                    còn yêu cầu kiến thức chuyên sâu và kỹ năng thực tế. Chúng tôi tạo ra một môi trường nơi bạn
                    có thể tìm hiểu về những định hướng công việc, từ phát triển phần mềm đến quản trị hệ thống,
                    và tạo dựng kế hoạch cho sự nghiệp của bạn.
                </p>
                <p>
                    <i class="fa fa-check text-primary me-3"></i>Nơi Kết nối Những Tài năng Công nghệ thông tin
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>Khám Phá Các Vị trí IT Hấp dẫn</p>
                <p>
                    <i class="fa fa-check text-primary me-3"></i>Nơi Hội tụ Các Chuyên gia Công nghệ thông tin
                </p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Jobs Start -->
<div class="container-fluid py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Danh sách việc làm</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-between max-vh-100 border-bottom mb-4">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active filter-btn" data-sort="all"
                        data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Tất cả</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3 filter-btn" data-sort="fulltime"
                        data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Full Time</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 filter-btn" data-sort="parttime"
                        data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Part Time</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 filter-btn" data-sort="remote"
                        data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Remote</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 filter-btn" data-sort="freelancer"
                        data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Freelancer</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="text-start">
                            Có <span class="text-primary fw-bold total-job"></span> công việc <span
                                class="d-none d-lg-inline-block">phù hợp</span>
                        </div>
                        <div class="text-nowrap paging-partial-container"></div>
                    </div>
                    <div class="job-post-list min-vh-100"></div>
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="text-start">
                            Có <span class="text-primary fw-bold total-job"></span> công việc <span
                                class="d-none d-lg-inline-block">phù hợp</span>
                        </div>
                        <div class="text-nowrap paging-partial-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">Tư Vấn Của Chuyên Gia</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Nhà tuyển dụng xem xét rất nhiều CV mỗi ngày và vì vậy bạn cần phải biết cách gây sự chú ý nơi họ.
                    Hãy thể hiện tính cách của mình qua CV
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-1.jpg"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Ashran Dato Ghazi</h5>
                        <small>CEO của Asiastream Group</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Nhấn mạnh các sở trường, thế mạnh của mình. Cũng nên nêu ra các kinh nghiệm thực tế khi
                    bạn tham gia vào các dự án mà bạn có sử dụng kiến thức của mình.
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-2.jpg"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Stella Thevarakam</h5>
                        <small>Giám đốc nhân sự ISS Consulting</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Ngoài kỹ năng về ngôn ngữ, ứng viên cũng phải thể hiện được tác phong chuyên nghiệp thông qua cách
                    ăn mặc, tính đúng giờ, quan tâm đến công việc
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-3.jpg"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Robert Lim</h5>
                        <small>Phó chủ tịch SMR Technologies</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Cơ hội phát triển là rất nhiều. Ít nhất 20 năm tới, lĩnh vực CNTT vẫn rất phát triển và việc thiếu
                    lao động có kỹ năng sẽ vẫn tồn tại ở nhiều nước
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-4.jpg"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Nguyễn Hoàng Minh</h5>
                        <small>GV ĐH Công nghệ Auckland (AUT)</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="apply-job-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header shadow-sm">
                <h5 class="modal-title" id="staticBackdropLabel">Ứng tuyển <span id="job-post-title"
                        class="text-primary"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body shadow-sm">
                <div class="d-flex flex-column gap-3">
                    <div class="fw-bold"><i class="fa-regular fa-folder-open text-primary me-2"></i> Chọn CV ứng tuyển:
                    </div>
                    <div role="button" class="border rounded-3 p-2">
                        <input id="cv-it-jobs" class="form-check-input" type="radio" name="radio-cv" value="0" checked>
                        <label class="ms-3">
                            Sử dụng CV online của IT Jobs
                        </label>
                    </div>
                    <div class="border rounded-3 p-2">
                        <div class="d-flex">
                            <input id="others-cv" class="form-check-input" type="radio" value="1" name="radio-cv">
                            <label role="button" class="ms-3">
                                Tải CV từ máy tính
                            </label>
                        </div>
                        <div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div><i class="fa-solid fa-5x fa-cloud-arrow-up text-primary"></i></div>
                                <p>Hỗ trợ định dạng .doc, .docx, pdf có kích thước dưới 5MB</p>
                                <div>
                                    <input class="form-control" id="upload-cv" type="file" accept=".pdf, .doc, .docx"
                                        style="background-color: #fff !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fw-bold"><i class="fa-solid fa-feather text-primary me-2"></i>Thư giới thiệu</div>
                    <textarea class="form-control rounded-3" id="cover-letter" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-cancel" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save">Ứng tuyển</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/HomePage/homepage.js"></script>
}
