<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITJobs - Online Job Portal</title>

    <!-- Favicon -->
    <link href="~/img/favicon.png" rel="icon">

    <!--Chosen Select Plugin CSS-->
    <link href="~/area/assets/plugins/chosen/chosen.min.css" rel="stylesheet">    
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/area/assets/plugins/bootstrap/css/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    
    <!--Toastr Plugin CSS-->
    <link rel="stylesheet" href="~/area/assets/plugins/toastr/toastr.min.css">

    <!--jQuery Datatable-->
	<link rel="stylesheet" href="~/area/assets/plugins/datatables/css/responsive.bootstrap.min.css">
	<link rel="stylesheet" href="~/area/assets/plugins/datatables/css/jquery.dataTables.min.css">

    <!-- Template Stylesheet -->
    <link href="~/css/HomePage/custom.css" rel="stylesheet" />
    <link href="~/css/HomePage/style.css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid bg-white p-0">
        <header>
            <div class="container-fluid bg-white p-0">
                <!-- Spinner Start -->
                <div id="spinner"
                    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!-- Spinner End -->
                <!-- Navbar Start -->
                @await Html.PartialAsync("_NavbarPartial")
            </div>
            <!-- Navbar End -->
        </header>

        @RenderBody()

        <footer class="container-fluid bg-dark text-white-50 footer pt-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Danh mục</h5>
                        <a class="btn btn-link text-white-50" asp-area="" asp-controller="Home" asp-action="Index">Trang
                            chủ</a>
                        <a class="btn btn-link text-white-50" asp-area="" asp-controller="JobPost"
                            asp-action="FindJob">Tìm kiếm việc làm</a>
                        <a class="btn btn-link text-white-50" asp-area="" asp-controller="Company"
                            asp-action="Index">Công ty</a>
                        <a class="btn btn-link text-white-50" asp-area="" asp-controller="Profile"
                            asp-action="CreateOnlineProfile">Hồ sơ online</a>
                        <a class="btn btn-link text-white-50" asp-area="" asp-controller="Resume" asp-action="Index">Tạo
                            CV</a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Liên hệ</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Đại học Cần Thơ</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0776573853</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>dungb19066040@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Bản tin</h5>
                        <p>Để lại thông tin liên lạc với chúng tôi</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                                placeholder="Địa chỉ Email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
                                Đăng ký
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; Huỳnh Chí Dũng B1906640
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!--Chosen Select Plugin-->
    <script src="~/area/assets/plugins/chosen/chosen.jquery.min.js"></script>

    <!--Toastr Plugin JS-->
    <script src="~/area/assets/plugins/toastr/toastr.min.js"></script>

    <!--SignalR-->
    <script src="~/area/assets/plugins/signalr/signalr.min.js"></script>

    <!--jQuery Datatable-->
	<script src="~/area/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/area/assets/plugins/datatables/js/dataTables.responsive.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/HomePage/main.js"></script>
    <script>
        var numberOfNotifications = $("#number-of-notifications");
        const btnShowNotifications = $("#btn-show-notifications");
        const notificationContainer = $("#notification-container");


        const notificationConnection = new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .configureLogging(signalR.LogLevel.Information)
                .build();

        async function startConnection() {
            try {
                await notificationConnection.start();
                console.log("SignalR Notification Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(startConnection, 1000);
            }
        }

        startConnection();

        notificationConnection.on("ReceiveMessage", (message, avatarUrl) => {
            console.log(message);
            console.log(avatarUrl);
            
            let notification = renderNotification(message, avatarUrl, "2hr ago");

            notificationContainer.append(notification);

            let numbers = Number(numberOfNotifications.text()) + 1;
            numberOfNotifications.text(numbers);
            numberOfNotifications.show();
        });

        function renderNotification(content, avatarUrl, timestamp) {
            let url = "." + avatarUrl;
            let notificationHtml = `
            <div class="d-flex p-2 gap-3 border-bottom">
                <img class="flex-shrink-0 align-self-center rounded-pill" src="${url}" alt=""
                    style="width: 30px; height: 30px; object-fit: fill">
                <div class="flex-grow-1 overflow-hidden" style="max-height: 3rem;">
                    ${content}
                </div>
                <span class="flex-shrink-0" style="font-size: 0.8rem; color: #aaa;">${timestamp}</span>
            </div>`
            return notificationHtml;
        }

        $(document).ready(function(){
            $("input").attr("autocomplete", "off");
        
            //Notifications
            callAjaxToJoinGroup();
            async function callAjaxToJoinGroup(){
                try{
                    var res = await $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/Notification/GetAppliedJobGroup"
                    });
                    if(res != null && res.length > 0){
                        for(let i=0; i<res.length; i++){
                            notificationConnection.invoke('JoinGroup', 'JobPost', `${res[i]}`)
                        }
                    }else{
                        throw new exception();
                    }
                }catch(err){
                    console.log(err);
                }
            }

            if(numberOfNotifications.text() == 0){
                numberOfNotifications.hide();
            }

            btnShowNotifications.click(function(){
                numberOfNotifications.text("0");
                numberOfNotifications.hide();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
