@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .section a {
        color: #333
    }

    .section a.active {
        color: #5b99ea;
        border-bottom: 3px solid #5b99ea;
    }
</style>

<div class="row g-3">
    <div class="col-12 bg-white rounded-3">
        <div class="d-flex p-3 justify-content-between border-bottom">
            <div class="d-flex flex-column">
                <h5>Giảng Viên IT - Dạy Lập Trình Fullstack</h5>
                <div>Full time</div>
                <div>Ninh Kiều, Cần Thơ</div>
            </div>
            <div>
                Đang có <span class="text-primary fw-bold">10</span> ứng viên
            </div>
        </div>
        <div class="d-flex justify-content-around section" role="tablist">
            <a role="button" class="py-3 mb-1 flex-grow-1 text-center active btn-change-section" id="applicant-section"
                data-bs-toggle="tab" data-bs-target="#applicant-section-content" type="button" role="tab" aria-controls="applicant-section-content"
                aria-selected="true">Ứng viên</a>
            <a role="button" class="py-3 mb-1 flex-grow-1 text-center btn-change-section" id="job-post-section"
                data-bs-toggle="tab" data-bs-target="#job-post-section-content" type="button" role="tab" aria-controls="job-post-section-content"
                aria-selected="false">Chi tiết
                tuyển dụng</a>
        </div>
    </div>
    <div class="col-12 bg-white rounded-3 tab-content">
        <div class="d-flex flex-column p-3 tab-pane fade show active" id="applicant-section-content" role="tabpanel"
            aria-labelledby="applicant-section">
            <div class="d-flex align-items-center border-bottom py-3">
                <div class="m-0 p-0 d-flex gap-3" role="tablist">
                    <a class="btn btn-outline-info active" id="applicant-tab" data-bs-toggle="tab"
                        data-bs-target="#applicant-tab-content" type="button" role="tab"
                        aria-controls="applicant-tab-content" aria-selected="true">Tất cả ứng viên</a>
                    <a class="btn btn-outline-info" id="suggest-tab" data-bs-toggle="tab"
                        data-bs-target="#suggest-tab-content" type="button" role="tab"
                        aria-controls="suggest-tab-content" aria-selected="true">Gợi ý phù hợp</a>
                </div>
                <p class="m-0 ms-auto d-flex align-items-baseline">
                    <span class="me-2 text-nowrap fw-bold">Lọc theo</span>
                    <select class="form-select" name="" id="">
                        <option value="">Tất cả</option>
                        <option value="">Ngày nộp</option>
                    </select>
                </p>
            </div>
            <div class="w-100 py-3">
                <div class="rounded-3 vh-100" style="background-color: #fbfbfc;">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="applicant-tab-content" role="tabpanel"
                            aria-labelledby="applicant-tab">
                            <div class="d-flex flex-column gap-3 p-3">
                                <div class="d-flex gap-3 bg-white p-3 rounded-3 shadow-sm">
                                    <img class="flex-shrink-0 rounded-pill" src="~/img/about-1.jpg" alt=""
                                        style="width: 50px; height: 50px; object-fit: fill;">
                                    <div class="flex-grow-1 d-flex flex-column">
                                        <span class="fw-bold">Hai Nguyen</span>
                                        <span class="">Job post title</span>
                                        <span class="fst-italic" style="font-size: .8rem;">Application date: 11 mar
                                            2023</span>
                                    </div>
                                    <div class="d-flex align-items-start gap-2">
                                        <a href="" class="btn btn-outline-info fs-5 rounded-3 border px-2 py-1"
                                            role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Xem hồ sơ"><i class="fa-solid fa-eye"></i></a>
                                        <a href="" class="btn btn-outline-primary fs-5 rounded-3 border px-2 py-1"
                                            role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Duyệt hồ sơ"><i class="fa-solid fa-circle-check"></i></a>
                                        <a href="" class="btn btn-outline-danger fs-5 rounded-3 border px-2 py-1"
                                            role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Từ chối hồ sơ"><i class="fa-solid fa-circle-xmark"></i></a>
                                    </div>
                                </div>
                                <div class="d-flex gap-3 bg-white p-3 rounded-3 shadow-sm">
                                    <img class="flex-shrink-0 rounded-pill" src="~/img/about-1.jpg" alt=""
                                        style="width: 50px; height: 50px; object-fit: fill;">
                                    <div class="flex-grow-1 d-flex flex-column">
                                        <span class="fw-bold">Hai Nguyen</span>
                                        <span class="">Job post title</span>
                                        <span class="fst-italic" style="font-size: .8rem;">Application date: 11 mar
                                            2023</span>
                                    </div>
                                    <div class="d-flex align-items-start gap-2">
                                        <a href="" class="btn btn-outline-info fs-5 rounded-1 border px-2 py-1"
                                            role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Xem hồ sơ"><i class="fa-solid fa-eye"></i></a>
                                        <a href="" class="btn btn-outline-primary fs-5 rounded-1 border px-2 py-1"
                                            role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Duyệt hồ sơ"><i class="fa-solid fa-circle-check"></i></a>
                                        <a href="" class="btn btn-outline-danger fs-5 rounded-1 border px-2 py-1"
                                            role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Từ chối hồ sơ"><i class="fa-solid fa-circle-xmark"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="suggest-tab-content" role="tabpanel"
                            aria-labelledby="suggest-tab">
                            <div class="d-flex flex-column">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column p-3 tab-pane fade" id="job-post-section-content" role="tabpanel"
            aria-labelledby="job-post-section">
            
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {
            const btnChangeSection = $(".btn-change-section");

            btnChangeSection.click(function (e) {
                e.preventDefault();
                $(".btn-change-section").each(function () {
                    $(this).removeClass("active");
                })
                $(this).addClass("active");
            });
        });
    </script>
}